body{
    display: grid;
    place-items: center;
    text-align: center;
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#main-pane{
    position: relative;
    display: grid;
    grid-template-columns: 29% 70%;
    width: 80vw;
    font-size: 20px;
    gap: 1%;
    /*
    background-color: #000*/
}

#editor{
    resize: none;
    width: 99%;
    height: 200px;
}

#edit-tools{
    display: grid;
    grid-template-columns: 70% auto auto;
    gap: 2px;
    background-color: white;
}

#file-pane{
    background-color: #0088FF; 
    overflow-y: scroll;
    overflow-x: hidden;
    height: 210px;
}

#left-pane{
    gap: 10px;
}

.file{
    width: 100%;
    display: block;
}

.file{
    background-color: #00D5FF; 
    border: none;
}

.file.selected{
    color: white;
    border: 2px solid white;
    background-color: #226865 /*sugestion green*/ 
}

.file:hover {
    background-color: #226865; 
    color: white;
}


#new-btn{
    width: 100%;
    height: 10%;
}